// ==============********* <МИКСИНЫ> *********=====================
@import "mixins";
// ==============********* </МИКСИНЫ> *********====================


// ==============********* <ШРИФТЫ> *********=====================
// ============== <Подключаем шрифты> ================
//&display=swap&subset=cyrillic-ext
@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700,700&display=swap&subset=cyrillic-ext");
@import "fonts";
// ============== </Подключаем шрифты> ===============

// ============== <Шрифт по умолчанию> ================
$fontFamily: "Roboto";
// ============== </Шрифт по умолчанию> ===============
// ==============********* </ШРИФТЫ> *********====================


// ==============********* <ПЕРЕМЕННЫЕ> *********=====================
$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
// ==============********* </ПЕРЕМЕННЫЕ> *********====================